.infy-loader {
  height: 150px;
}

#outline {
  stroke-dasharray: 2.427766571px, 242.7766571045px;
  stroke-dashoffset: 0;
  -webkit-animation: anim 1.6s linear infinite;
          animation: anim 1.6s linear infinite;
}

@-webkit-keyframes anim {
  12.5% {
    stroke-dasharray: 33.9887319946px, 242.7766571045px;
    stroke-dashoffset: -26.7054322815px;
  }
  43.75% {
    stroke-dasharray: 84.9718299866px, 242.7766571045px;
    stroke-dashoffset: -84.9718299866px;
    stroke: #f5981c;
  }
  100% {
    stroke-dasharray: 2.427766571px, 242.7766571045px;
    stroke-dashoffset: -240.3488905334px;
  }
}

@keyframes anim {
  12.5% {
    stroke-dasharray: 33.9887319946px, 242.7766571045px;
    stroke-dashoffset: -26.7054322815px;
  }
  43.75% {
    stroke-dasharray: 84.9718299866px, 242.7766571045px;
    stroke-dashoffset: -84.9718299866px;
    stroke: #f5981c;
  }
  100% {
    stroke-dasharray: 2.427766571px, 242.7766571045px;
    stroke-dashoffset: -240.3488905334px;
  }
}
